body{
    background-image: url(bg_images/cerbeg3.png);
    background-position: 100%;
}

.certficate-container{
    /* background-color: aqua; */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content:space-evenly;
    margin-top: 5%;
    flex-wrap: wrap;
}

.html{
    /* background-color:red ; */
    text-align: center;
    height: 40%;
    width: 30%;
    
}

.certificates{
    width: 100%;
}

.css{
    /* background-color: yellow; */
    height: 40%;
    width: 30%;
    text-align: center;
}

.python{
    /* background-color:blue ; */
    height: 40%;
    width: 30%;
    text-align: center;
}
